﻿<!DOCTYPE html>
<html ng-app="SurveyApp">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <!--
        Customize the content security policy in the meta tag below as needed. Add 'unsafe-inline' to default-src to enable inline JavaScript.
        For details, see http://go.microsoft.com/fwlink/?LinkID=617521
    -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
    <title>MasanSurvey</title>

    <!-- MasanSurvey references -->
    <link href="css/index.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" />

    <script src="scripts/jquery-2.1.4.min.js"></script>
    <script src="scripts/angular-1.3.16.js"></script>
    <script src="scripts/angular-ui-router-0.2.15.js"></script>
    <script src="scripts/ct-ui-router-extras.js"></script>
    <!--<script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-route.min.js"></script>
    <script src="scripts/angular-ui-router.min.js"></script>-->
    <!--<script data-require="angular.js@1.3.16" data-semver="1.3.16" src="https://code.angularjs.org/1.3.16/angular.js"></script>
    <script data-require="ui-router@0.2.15" data-semver="0.2.15" src="//rawgit.com/angular-ui/ui-router/0.2.15/release/angular-ui-router.js"></script>-->
    <!--<script data-require="ui-router-extras@0.0.13" data-semver="0.0.13" src="https://rawgit.com/christopherthielen/ui-router-extras/0.0.13/release/ct-ui-router-extras.js"></script>-->
    <script src="scripts/angular-local-storage.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/ui-bootstrap-tpls-0.13.0.js"></script>
</head>
<body>
    <div style="font-size: large" autoscroll="true" ui-view></div> 
    <!-- Cordova reference, this is added to your app when it's built. -->
    <script src="cordova.js"></script>
    <script src="scripts/platformOverrides.js"></script>

    <script src="scripts/index.js"></script>

    <script src="js/app.js"></script>

    <!-- Controller -->
    <script src="js/controllers/LoginController.js"></script>
    <script src="js/controllers/AccountController.js"></script>
    <script src="js/controllers/DealerController.js"></script>
    <script src="js/controllers/UpdateBoController.js"></script>
    <script src="js/controllers/UpdateGaController.js"></script>
    <script src="js/controllers/UpdateGiacamController.js"></script>
    <script src="js/controllers/UpdateHeoController.js"></script>
    <script src="js/controllers/UpdateVitController.js"></script>
    <script src="js/controllers/SurveyController.js"></script>
    <script src="js/controllers/TabController.js"></script>
    <!-- Service -->
    <script src="js/services/services.js"></script>
    <script src="js/services/constant.js"></script>

    <script id="templates/popup-choose-picture.html" type="text/ng-template">
        <button class="button button-positive col col-center" ng-click="takePhoto(id, 1)">Album</button>
        <button class="button button-positive col col-center" ng-click="takePhoto(id, 0)" style="margin-top:5px;">Camera</button>
    </script>

    <script type="text/ng-template" id="myModalContent.html" style="margin-top: 50%;">
        <!--<div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">-->
                <div class="" tabindex="-1" >
                    <div class="modal-header">
                        <h3 class="modal-title">Chọn Ảnh Từ</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row container">
                            <button class="btn btn-primary btn-block" ng-click="camera()">Camera</button>
                        </div>
                        <div class="row container">
                            <button class="btn btn-primary btn-block" ng-click="album()">Album</button>
                        </div>
                    </div>
                </div>
          <!--</div>
        </div>-->
    </script>

    <script type="text/ng-template" id="confirm-done.html" style="margin-top: 50%;">
        <!--<div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">-->
        <div style="">
            <div class="modal-body">
                <div class="row container">
                    Ảnh đang upload hoặc upload lỗi. upload sau?
                </div>
                <div class="row container">
                    <button class="btn btn-primary btn-block" ng-click="ok()">Đồng ý</button>
                </div>
                <div class="row container">
                    <button class="btn btn-primary btn-block" ng-click="cancel()">Hủy bỏ</button>
                </div>
            </div>
        </div>
        <!--</div>
        </div>-->
    </script>

    <!--<script type="text/ng-template" id="loading.html">
        <div class="modal-header">
            <h3 class="modal-title">Loading</h3>
        </div>
    </script>-->
</body>
</html>