﻿<div view-title="Khảo sát chăn nuôi thị trường 2015" ng-init="watch(); init(1)">
    <div>
        <!--select city/provine-->
        <center><h3>Thông tin đại lý</h3></center>

        <form name="frmSurvey" ng-submit="saveDealer(frmSurvey.$valid);" novalidate>
           <!--  <ul>
              <li ng-repeat="(key, errors) in frmSurvey.$error track by $index"> <strong>{{ key }}</strong> errors
                <ul>
                  <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
                </ul>
              </li>
            </ul> -->
            <div class="row">
                <div class="col-xs-5">
                    Tỉnh/Thành phố
                </div>
                <div class="col-xs-7" ng-if="provinces.length > 1">
                    <label>
                       <select class="full-width match-parent" ng-model="dealer.province" ng-options="p.ProvinceName for p in provinces" ng-change="loadDealer(); loadDistrict(); setUpdate()"></select>
                    </label>
                </div>
                <div class="col-xs-7" ng-if="provinces.length <= 1">
                    {{provinceName}}
                </div>
            </div>

            <!--AC or PC-->
            <div class="row">
                <div class="col-xs-5">
                    Mua trực tiếp từ
                </div>
                <div class="col-xs-7">
                    <label class="padding-right" ng-if="user.AC_PC == 0">
                        <input id="buy_ac" type="radio" name="ac" ng-model="dealer.AC_PC" value="0" ng-change="loadDealer(); setUpdate()">
                        <label for="buy_ac">AC</label>
                    </label>
                    <label class="padding-right" ng-if="user.AC_PC == 1">
                        <input id="buy_pc" type="radio" name="ac" ng-model="dealer.AC_PC" value="1" ng-change="loadDealer(); setUpdate()">
                        <label for="buy_pc">PC</label>
                    </label>
                    <label>
                        <input id="buy_new" type="radio" name="ac" ng-model="dealer.AC_PC" value="2" ng-change="clearDealerSelected(); setUpdate()">
                        <label for="buy_new">Mới</label>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5">
                    Tên đại lý
                    <div style="font-size: 12px;">
                        (Tên bảng hiệu)
                    </div>
                </div>
                <div class="col-xs-7" ng-if="dealer.AC_PC == 2">
                    <label>
                        <input class="match-parent" type="text" name="dealerName" ng-model="dealer.dealerName" ng-change="setUpdate()" ng-maxlenght="100" required>
                    </label>
                    <div class="error" style="padding-top:5px; font-size:12px;" ng-if="submited && frmSurvey.dealerName.$error.required">
                        Vui lòng nhập tên đại lý
                    </div>
                    <div class="error" style="padding-top:5px; font-size:12px;" ng-if="(submited || frmSurvey.dealerName.$dirty) && frmSurvey.dealerName.$error.maxlenght">
                        Tên đại lý quá dài
                    </div>
                </div>
                <div class="col-xs-7" ng-if="dealer.AC_PC != 2">
                    <label>
                        <select class="full-width match-parent" ng-model="dealerIndex" ng-change="setDealer(dealerIndex); setUpdate()">
                            <option ng-selected="dealer.dealerId == d.DealerId" ng-repeat="d in dealers" ng-bind="d.DealerName" ng-value="$index"></option>
                        </select>
                        <div style="padding-top:5px; font-size:12px;" ng-if="dealer.dealerCode">
                            Mã: {{dealer.dealerCode}}
                        </div>
                    </label>
                </div>
            </div>
            
            <!--<div class="row">
                <div class="col-survey-title">
                    Survey Code
                </div>
                <div class="col">
                    <label>
                        <input type="text item-input-inset">
                    </label>
                </div>
            </div>-->

            <!--ho ten nguoi kinh doanh-->
            <div class="row">
                <div class="col-xs-5">Tên người KD</div>
                <div class="col-xs-7">
                    <label>
                        <input class="match-parent" type="text" name="fullName" ng-model="dealer.fullName" ng-change="setUpdate()" ng-maxlenght="100" required>
                    </label>
                    <div class="error" style="padding-top:5px; font-size:12px;" ng-if="(submited) && frmSurvey.fullName.$error.required">
                        Vui lòng nhập tên người KD
                    </div>
                    <div class="error" style="padding-top:5px; font-size:12px;" ng-if="(submited) && frmSurvey.fullName.$error.maxlenght">
                        Tên người KD quá dài
                    </div>
                </div>
            </div>

            <!--DTDD-->
            <div class="row">
                <div class="col-xs-5">Số ĐTDĐ</div>
                <div class="col-xs-7">
                    <label>
                        <input pattern="[0-9]*" class="match-parent"  type="tel" ng-minlength="6" ng-maxlength="15" name="phoneNumber" ng-model="dealer.phoneNumber" ng-change="setUpdate()" required>
                    </label>
                    <div class="error" style="padding-top:5px; font-size:12px;" ng-if="(submited || frmSurvey.phoneNumber.$dirty) && frmSurvey.phoneNumber.$error.required">
                        Vui lòng nhập số điện thoại
                    </div>
                    <div class="error" style="padding-top:5px; font-size:12px;" ng-if="(submited || frmSurvey.phoneNumber.$dirty) && !frmSurvey.phoneNumber.$error.required && (frmSurvey.phoneNumber.$error.pattern || frmSurvey.phoneNumber.$error.minlength || frmSurvey.phoneNumber.$error.maxlength)">
                        Số điện thoại không hợp lệ
                    </div>
                </div>
            </div>

            <!--ngay sinh-->
            <div class="row">
                <div class="col-xs-5">Ngày sinh</div>
                <div class="col-xs-7">
                    <select ng-model="dealer.day" ng-change="setUpdate()">
                        <option ng-selected = "dealer.day == d" ng-repeat="d in dates track by $index" ng-bind="d" ng-value="d"></option>
                    </select>
                    <label>/</label>
                    <select ng-model="dealer.month" ng-change="setUpdate()">
                        <option ng-selected = "dealer.month == m"  ng-repeat="m in months" ng-bind="m" ng-value="m"></option>
                    </select>
                    <label>/</label>
                    <label>
                        <input pattern="[0-9]*" ng-minlength="4" ng-maxlength="4"  type="tel" style="width:40px; vertical-align: top;" ng-model="dealer.year" name="year"  ng-change="setUpdate()">
                    </label>
                    <!--<div class="error" style="padding-top:5px; font-size:12px;" ng-if="(submited || frmSurvey.year.$dirty) && frmSurvey.year.$error.required">
                        Vui lòng nhập ngày tháng năm sinh
                    </div>-->
                     <div class="error" style="padding-top:5px; font-size:12px;" ng-if="(submited || frmSurvey.year.$dirty) && !frmSurvey.year.$error.required && (frmSurvey.year.$error.pattern || frmSurvey.year.$error.minlength || frmSurvey.year.$error.maxlength)">
                        Ngày sinh không hợp lệ
                    </div>
                </div>
            </div>

            <!--dia chi-->
            <div class="row">
                <div class="col-xs-5">Địa chỉ</div>
            </div>
            <!--<div class="row">
                <div class="col-survey-title padding-left padding-top">Tỉnh/TP</div>
                <div class="col">
                    <select>
                        <option selected>Hà Nội</option>
                        <option>Hồ Chí Minh</option>
                        <option>Đà Nẵng</option>
                        <option>Lâm Đồng</option>
                        <option>Cần Thơ</option>
                    </sel ect>
                </div>
            </div>-->
            <div class="row">
                <div class="col-xs-5 padding-left">Quận/Huyện</div>
                <div class="col-xs-7">
                    <!-- <select class="full-width match-parent" ng-model="dealer.districtId" ng-change="loadWard(); setUpdate()">
                        <option ng-selected="dealer.districtId == d.DistrictId" ng-repeat="d in districts track by $index" ng-bind="d.DistrictName" ng-value="d.DistrictId"></option>
                    </select> -->
                    <select class="full-width match-parent" ng-model="dealer.district" ng-options="d.DistrictName for d in districts" ng-change="loadWard(); setUpdate()">
                    </select>
                </div>
               <!--  <div class="col" ng-if="dealer.AC_PC != 2">
                    <label ng-bind="dealer.districtName">
                    </label>
                </div> -->
            </div>
            <div class="row">
                <div class="col-xs-5 padding-left">Xã/Phường</div>
                <div class="col-xs-7">
                   <!--  <select  ng-model="dealer.wardId" ng-change="setUpdate()">
                        <option ng-selected="dealer.wardId == d.WardId" ng-repeat="d in wards track by $index" ng-bind="d.WardName" ng-value="d.WardId"></option>
                    </select> -->
                    <select class="full-width match-parent" ng-model="dealer.ward" ng-options="d.WardName for d in wards" ng-change="setUpdate()">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 padding-left">Địa chỉ cụ thể</div>
                <div class="col-xs-7">
                    <label>
                        <!-- <input type="text item-input-inset" ng-model="dealer.address" ng-if="false"> -->
                        <textarea class="match-parent" type="text" name="address" ng-model="dealer.address" rows="3" cols="25" ng-change="setUpdate()" ng-maxlength="200" style="border: 1px solid #AAAAAA;" required></textarea>
                        <div>
                            <label style="padding-top:5px; font-size:12px;">(Số nhà, tên đường, thôn/ấp)</label>
                        </div>
                        <div class="error" style="padding-top:5px; font-size:12px;" ng-if="(submited || frmSurvey.address.$dirty) && frmSurvey.address.$error.required">
                        Vui lòng nhập địa chỉ
                        </div>
                        <div class="error" style="padding-top:5px; font-size:12px;" ng-if="(submited || frmSurvey.address.$dirty) && frmSurvey.address.$error.maxlength">
                        Địa chỉ quá dài
                        </div>
                    </label>
                </div>
            </div>

            <!--GPS-->
            <div class="row">
                <div class="col-xs-5">
                    Tọa độ GPS
                </div>
                <div class="col-xs-7">
                    <div>
                         <span ng-if="survey.lat && survey.long" style="padding-top:5px;">
                            <input style="width: 20px; height: 20px" id="confirm_gps" type="checkbox" ng-model="dealer.confirmGPS" ng-click="gpsConfirm()">
                            <label for="confirm_gps">Xác nhận</label>
                        </span>
                        <a class="btn glyphicon glyphicon-refresh" id="refreshGPS"></a>
                    </div>
                    <div  id="latlong" ng-model="dealer.gps">
                        Chưa xác định
                    </div>
                    <label style="padding-top:5px; font-size:12px;">(Vui lòng mở Google Maps để kiểm tra GPS)</label>
                </div>
            </div>

            <!--CMND-->
            <div class="row">
                <div class="col-xs-5">Số CMND</div>
                <div class="col-xs-7">
                    <label>
                        <input pattern="[0-9]*" class="match-parent"  type="tel" name="cmnd" ng-model="dealer.cmnd" ng-change="setUpdate()" ng-maxlength="15">
                    </label>
                    <div class="error" style="padding-top:5px; font-size:12px;" ng-if="(submited || frmSurvey.cmnd.$dirty) && (frmSurvey.cmnd.$error.maxlength || frmSurvey.cmnd.$error.pattern)">
                       CMND không hợp lệ
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-survey-img col-xs-5">
                    <div class="list card" style="pading:10px;">
                        <div class="item item-image">
                            <!--<img ng-if="imgCMND1 !== undefined" id="img1" ng-src="{{imgCMND1}}">-->
                            <img id="img_cmnd1" src="img/no-image.png">
                        </div>
                        <center>
                            <button type="button" class="btn btn-default button-small" ng-click="open(1)">
                                Mặt trước CMND
                            </button>
                        </center>
                    </div>
                </div>
                <div class="col-survey-img col-xs-5">
                    <div class="list card" style="pading:10px;">
                        <div class="item item-image">
                            <!--<img ng-if="imgCMND2 !== undefined" ng-src="{{imgCMND2}}">-->
                            <img id="img_cmnd2" src="img/no-image.png">
                        </div>
                        <center>
                            <button type="button" class="btn btn-default button-small" ng-click="open(2)">
                                Mặt sau CMND
                            </button>
                        </center>
                    </div>
                </div>
            </div>

            <!--Hinh anh khac-->
            <div class="row">
                <div class="col-xs-5">Hình ảnh đại lý</div>
            </div>
            <div class="row">
                <div class="col-survey-img col-xs-4">
                    <div class="list card" style="pading:10px;">
                        <div class="item item-image">
                            <!--<img ng-if="imgDealer !== undefined" ng-src="{{imgDealer}}">-->
                            <img id="img_dealer" src="img/no-image.png">
                        </div>
                        <center>
                            <button type="button" class="btn btn-default button-small" ng-click="open(3)">
                                Chủ đại lý
                            </button>
                        </center>
                    </div>
                </div>
                <div class="col-survey-img col-xs-4">
                    <div class="list card" style="pading:10px;">
                        <div class="item item-image">
                            <!--<img ng-if="imgShop !== undefined" ng-src="{{imgShop}}">-->
                            <img id="img_shop" src="img/no-image.png">
                        </div>
                        <center>
                            <button type="button" class="btn btn-default button-small" ng-click="open(4)">
                                Cửa hàng
                            </button>
                        </center>
                    </div>
                </div>
                <div class="col-survey-img col-xs-4">
                    <div class="list card" style="pading:10px;">
                        <div class="item item-image">
                            <!--<img ng-if="imgWarehouse !== undefined" ng-src="{{imgWarehouse}}">-->
                            <img id="img_warehouse" src="img/no-image.png">
                        </div>
                        <center>
                            <button type="button" class="btn btn-default button-small" ng-click="open(5)">
                                Kho
                            </button>
                        </center>
                    </div>
                </div>
            </div>

            <!--So dai ly cap 2-->
            <div class="row">
                <div class="col-xs-5">
                    SL Đại lý cấp 2
                </div>
                <div class="col-xs-7">
                    <label>
                         <input class="number" pattern="[0-9]*"  type="tel" name="SL_DL2" ng-model="survey.SL_DL2" ng-change="setUpdate()" style="width:100px;" ng-maxlength="5">
                    </label>
                    <div class="error" style="padding-top:5px; font-size:12px;" ng-if="(submited || frmSurvey.SL_DL2.$dirty) && (frmSurvey.SL_DL2.$error.pattern || frmSurvey.SL_DL2.$error.maxlength)">
                        Số lượng đại lý cấp 2 không hợp lệ
                    </div>
                </div>
            </div>

            <!--So Ho/Trai danh ban-->
            <div class="row">
                <div class="col-xs-5">SL Hộ/Trại</div>
                <div class="col-xs-7">
                    <label>
                        <input class="number" pattern="[0-9]*"  type="tel" ng-model="survey.SL_HO" name="SL_HO" ng-change="setUpdate()" style="width:100px;" required ng-maxlength="5">
                    </label>
                    <div class="error" style="padding-top:5px; font-size:12px;" ng-if="(submited || frmSurvey.SL_HO.$dirty) && frmSurvey.SL_HO.$error.required">
                    Vui lòng số lượng Hộ/Trại
                    </div>
                    <div class="error" style="padding-top:5px; font-size:12px;" ng-if="(submited || frmSurvey.SL_HO.$dirty) && (frmSurvey.SL_HO.$error.maxlength || frmSurvey.SL_HO.$error.pattern)">
                    Số lượng Hộ/Trại không hợp lệ
                    </div>
                </div>
            </div>

            <!--Chan nuoi truc tiep-->
            <div class="row">
                <div class="col-xs-5">
                    Chăn nuôi trực tiếp
                </div>
                <div class="col-xs-7">
                   <input id="k_nuoi_tt" type="radio" name="nuoiTT" value="0" ng-model="survey.NUOI_TT" ng-change="setUpdate()">
                    <label for="k_nuoi_tt">Không &nbsp;</label>
                    <input id="nuoi_tt" type="radio" name="nuoiTT" value="1" ng-model="survey.NUOI_TT" ng-change="setUpdate()">
                    <label for="nuoi_tt">Có</label>
                </div>
            </div>


            <div>
                <div class="row" >
                    <div class="col-xs-5 padding-left">
                        Nái
                    </div>
                    <div class="col-xs-7">
                        <input pattern="[0-9]*" ng-disabled="survey.NUOI_TT == 0" class="number"  type="tel" ng-model="survey.SL_NAI" name="SL_NAI" ng-change="setUpdate()" ng-maxlenght="5" style="width:100px;">
                        <label>
                            (con)
                        </label>
                        <div class="error" style="padding-top:5px; font-size:12px;" ng-if="(submited || frmSurvey.SL_NAI.$dirty) && (frmSurvey.SL_NAI.$error.pattern || frmSurvey.SL_NAI.$error.maxlenght)">
                            Số lượng không hợp lệ
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 padding-left">
                        Thịt
                    </div>
                    <div class="col-xs-7">
                        <input pattern="[0-9]*" ng-disabled="survey.NUOI_TT == 0" class="number"  type="tel" ng-model="survey.SL_THIT" name="SL_THIT" ng-change="setUpdate()" ng-maxlenght="5" style="width:100px;">
                        <label>
                            (con)
                        </label>
                        <div class="error" style="padding-top:5px; font-size:12px;" ng-if="(submited || frmSurvey.SL_THIT.$dirty) && (frmSurvey.SL_THIT.$error.pattern || frmSurvey.SL_THIT.$error.maxlenght)">
                            Số lượng không hợp lệ
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 padding-left">
                        Nọc
                    </div>
                    <div class="col-xs-7">
                        <label>
                            <input pattern="[0-9]*" ng-disabled="survey.NUOI_TT == 0" class="number"  type="tel" ng-model="survey.SL_NOC" name="SL_NOC" ng-change="setUpdate()" ng-maxlenght="5" style="width:100px;">
                        </label>
                        <label>
                            (con)
                        </label>
                         <div class="error" style="padding-top:5px; font-size:12px;" ng-if="(submited || frmSurvey.SL_NOC.$dirty) && (frmSurvey.SL_NOC.$error.pattern || frmSurvey.SL_NOC.$error.maxlenght)">
                            Số lượng không hợp lệ
                        </div>
                    </div> 
                </div>
            </div>
            

            <div class="row">
                <br>
            </div>

            <div class="row" ng-if="!dealer.confirmGPS">
               <label class="error"> * Vui lòng xác nhận tọa độ GPS trước khi tiếp tục.</label>
            </div>

            <div class="row" ng-if="submited && (!frmSurvey.$valid)">
               <label class="error"> * Dữ liệu nhập chưa đúng, vui lòng kiểm tra lại.</label>
            </div>

            <!--Next-->
            <div class="row">
                <button type="submit" class="btn btn-primary btn-block col-xs-8 col-center" ng-disabled="!dealer.confirmGPS">Tiếp Tục</button>
            </div>

        </form>

        <div class="row">
            <br>
        </div>
    </div>
</div>