﻿<ul id="tab" class="nav nav-tabs navbar-fixed-top navbar-default" style="font-size:large;" role="tablist">
    <li data-toggle="tab" class="active col-xs-4 text-center"><a href="#/tabs/survey"><span class="glyphicon glyphicon-edit" style="margin-right:3px; font-size:larger"></span>Khảo Sát</a></li>
    <li data-toggle="tab" class="col-xs-4 text-center"><a href="#/tabs/dealers"><span class="glyphicon glyphicon-list-alt" style="margin-right:3px; font-size:larger"></span>Danh Sách</a></li>
    <li data-toggle="tab" class="col-xs-4 text-center"><a href="#/tabs/account"><span class="glyphicon glyphicon-user" style="margin-right:3px; font-size:larger"></span> Tài Khoản</a></li>
</ul>
<div id="bar" class="nav nav-tabs navbar-fixed-top navbar-default" style="visibility: hidden" role="tablist">
    <a class="btn" style="font-size:large;" ng-click="backPage()">Back</a>
</div>

<div class="container-fluid"  style="margin-top: 60px" ui-view></div> 
<div class="container-fluid" ng-show="$state.includes('tabs.newsurvey')" ui-view="newsurvey"></div>
<div class="container-fluid" ng-show="$state.includes('tabs.sales-heo')" ui-view="saleheo"></div>
<div class="container-fluid" ng-show="$state.includes('tabs.sales-ga')" ui-view="salega"></div>
<div class="container-fluid" ng-show="$state.includes('tabs.sales-vit')" ui-view="salevit"></div>
<div class="container-fluid" ng-show="$state.includes('tabs.sales-bo')" ui-view="salebo"></div>
<div class="container-fluid" ng-show="$state.includes('tabs.sales-giacam')" ui-view="salegiacam"></div>