﻿body {
}
/* Empty. Add your own CSS if you like */

/*LOGIN*/
.login.header {
	font-size: 20px;
	text-transform: uppercase;
	padding: 10px;
	display: block;
	text-align: center;
}

.item-row {
	padding: 6px 0 5px 16px;
}

.list-inset .item.item-input input {
	padding-right: 20px;
}

.item-right {
	position: absolute;
	right: 0px;
}

.center {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute !important;
    margin:0 auto;
    width:100%;
}


.col-survey-title {
	width: 120px;
	padding-top: 5px;
}

.col-survey-full {
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 0px !important;
	padding-top: 7px !important;
}

.col-survey-img {
	width: 33%;
	padding-right: 20px;
	max-width: 140px;
    /*max-height: 140px;*/
}

.col-survey-img img {
	width: 100%;
}

.button-small {
	font-size: 12px !important;
}

.col-survey-img button {
	width: 100%;
}

.list:last-child.card {
    margin-bottom: 10px;
    margin-top: 10px;
}

.table-border-left {
	border: 1px solid rgb(207, 207, 207);
	border-right: 0;
}

.border.left {
	border-left: 1px solid rgb(207, 207, 207);
}

.border.right {
	border-right: 1px solid rgb(207, 207, 207);
}

.border.top {
	border-top: 1px solid rgb(207, 207, 207);
}

.border.bottom {
	border-bottom: 1px solid rgb(207, 207, 207);
}

.border.all {
	border: 1px solid rgb(207, 207, 207);
}

.row {
	padding-top: 8px !important;
}

ion-content {
	/*font-size: 16px;*/
}

.error {
	/*font-size:12px;*/ 
	color:red;
}

.bg-anco {
	background: url(./../img/bg5.jpg) no-repeat fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	 background-size: cover;
}

.bg-conco {
	background: url(./../img/bg1.png) no-repeat fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	 background-size: cover;
}

input.number {
	text-align: right;
	padding-right: 5px;
	width: 100px !important;
}

select.full-width, select.full-width option {
	width: 100%;
}

.match-parent {
	width: 100%;
	max-width: 300px;
}

.col-flex {
	display: flex;
}

.col-flex input {
	/*-webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;*/
    margin-right: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="tel"], input[type="text"] {
	border: 1px solid rgb(170, 170, 170);
	height: 24px !important;
	padding-left: 2px;

	display: inline-block !important;
    align-items: center;
    position: relative;
    overflow: hidden;
}

select {
	height: 24px;
}

.nav-tabs, .nav-tabs .col-xs-4 {
    margin: 0;
    padding: 0;
    border: 0;    
}
.nav-tabs > li > a {
    background: #DADADA;
    border-radius: 0;
    box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    background: #F5F5F5;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
}

/* Tab Content */
.tab-pane {
    background: #F5F5F5;
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    border-radius: 0;
    text-align: center;
    padding: 10px;
}

.card .item:first-child, .list-inset .item:first-child, .padding > .list .item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.item {
    border-color: #ddd;
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    /*font-size: 16px;*/
}

.item-divider {
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 30px;
    background-color: #f5f5f5;
    color: #222;
    font-weight: 500;
}

.item-image {
    padding: 0;
    text-align: center;
}

.item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
    position: absolute;
    top: 16px;
    left: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.tab {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    min-height:50px;
    background-color: #fff;
    overflow: hidden;
}

.input-label {
    display: table;
    padding: 7px 10px 7px 0px;
    max-width: 200px;
    /* width: 35%; */
    color: #444;
    /*font-size: 16px;*/
}

.item {
    border-color: #ddd;
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    /*padding: 16px;*/
    border-width: 1px;
    border-style: solid;
    /*font-size: 16px;*/
}
label, input, button, select, textarea {
    font-weight: normal;
    /*font-size: 14px;*/
    line-height: 1.42857;
}

.jumbotron {
    position: relative;
    background: #000 url("../img/bg4.png") center center;
    width: 100%;
    height: 800px;
    background-size: cover;
    overflow: hidden;
}

.item-row {
	padding: 6px 0 5px 16px;
}

.list-inset .item.item-input input {
	padding-right: 20px;
}

.item-right {
	position: absolute;
	right: 0px;
}

.center {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute !important;
    margin:0 auto;
    width:100%;
}


.col-survey-title {
	width: 120px;
	padding-top: 5px;
}

.col-survey-full {
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 0px !important;
	padding-top: 7px !important;
}

.col-survey-img {
	width: 33%;
	padding-right: 20px;
	max-width: 140px;
}

.col-survey-img img {
	width: 100%;
}

.button-small {
	font-size: 10px !important;
}

.col-survey-img button {
	width: 100%;
}

.list:last-child.card {
    margin-bottom: 10px;
    margin-top: 10px;
}

.table-border-left {
	border: 1px solid rgb(207, 207, 207);
	border-right: 0;
}

.border.left {
	border-left: 1px solid rgb(207, 207, 207);
}

.border.right {
	border-right: 1px solid rgb(207, 207, 207);
}

.border.top {
	border-top: 1px solid rgb(207, 207, 207);
}

.border.bottom {
	border-bottom: 1px solid rgb(207, 207, 207);
}

.border.all {
	border: 1px solid rgb(207, 207, 207);
}

.row {
	padding-top: 8px !important;
}

ion-content {
	/*font-size: 16px;*/
}

.error {
	/*font-size:12px;*/ 
	color:red;
}

.bg-anco {
	background: url(./../img/bg5.jpg) no-repeat fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	 background-size: cover;
}

.bg-conco {
	background: url(./../img/bg1.png) no-repeat fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	 background-size: cover;
}

input.number {
	text-align: right;
	padding-right: 5px;
	width: 100px !important;
}

select.full-width, select.full-width option {
	width: 100%;
}

.match-parent {
	width: 100%;
	max-width: 300px;
}

.col-flex {
	display: flex;
}

.col-flex input {
	/*-webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;*/
    margin-right: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="tel"], input[type="text"] {
	border: 1px solid rgb(170, 170, 170);
	height: 24px !important;
	padding-left: 2px;

	display: inline-block !important;
    align-items: center;
    position: relative;
    overflow: hidden;
}

select {
	height: 24px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

.margin-right {
	margin-right: 5px !important;
}

.margin-right2 {
	margin-right: 10px !important;
}

.margin-right3 {
	margin-right: 15px !important;
}

.margin-right4 {
	margin-right: 20px !important;
}

.margin-right5 {
	margin-right: 25px !important;
}

.margin-right6 {
	margin-right: 30px !important;
}

.margin-top {
	display: block;
	margin-top: 5px !important;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    margin-top: 40%;
    pointer-events:all;
}

.table {
 display: table;
 height:100%;
}
.table-cell {
display: table-cell;
vertical-align: middle;
}

.modal {
    /*position: fixed;*/
    /*top: 50% !important;
    left: 50%;*/
}